.btn {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 10px 12px;
  width: auto;
  border-radius: var(--asb-border-radius);
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    filter 0.2s ease-in-out;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(var(--foreground-rgb));
  border: 1px solid rgba(var(--foreground-rgb), 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Paint */
.btnPrimary {
  color: var(--asb-white-color);
  background-color: var(--asb-primary-color);
  box-shadow: 0 0 0 1px var(--asb-primary-color);
}

.btnPrimary:hover {
  color: var(--asb-white-color);
  background-color: var(--asb-primary-hover-color);
  box-shadow: 0 0 0 1px var(--asb-primary-hover-color);
}

.btnDanger {
  color: var(--asb-white-color);
  background-color: var(--asb-danger-color);
  box-shadow: inset 0 0 0 1px var(--asb-danger-color);
}

.btnDanger:hover {
  color: var(--asb-white-color);
  background-color: var(--asb-danger-hover-color);
  box-shadow: inset 0 0 0 1px var(--asb-danger-hover-color);
}

.btnSuccess {
  color: var(--asb-white-color);
  background-color: var(--asb-success-color);
  box-shadow: inset 0 0 0 1px var(--asb-success-color);
}

.btnSuccess:hover {
  color: var(--asb-white-color);
  background-color: var(--asb-success-hover-color);
  box-shadow: inset 0 0 0 1px var(--asb-success-hover-color);
}

.btnWarning {
  color: var(--asb-gray-dark-color);
  background-color: var(--asb-warning-color);
  box-shadow: inset 0 0 0 1px var(--asb-warning-color);
}

.btnWarning:hover {
  color: var(--asb-gray-dark-color);
  background-color: var(--asb-warning-hover-color);
  box-shadow: inset 0 0 0 1px var(--asb-warning-hover-color);
}

.btnInfo {
  color: var(--asb-white-color);
  background-color: var(--asb-info-color);
  box-shadow: inset 0 0 0 1px var(--asb-info-color);
}

.btnInfo:hover {
  color: var(--asb-white-color);
  background-color: var(--asb-info-hover-colo);
  box-shadow: inset 0 0 0 1px var(--asb-info-hover-color);
}

/* Variant Outlined */
.btnPrimary.btnOutlined {
  color: var(--asb-primary-color);
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--asb-primary-color);
}

.btnPrimary.btnOutlined:hover:not(.btnDisabled) {
  color: var(--asb-white-color);
  background-color: var(--asb-primary-color);
  box-shadow: inset 0 0 0 1px var(--asb-primary-color);
}

.btnDanger.btnOutlined {
  color: var(--asb-danger-color);
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--asb-danger-color);
}

.btnDanger.btnOutlined:hover:not(.btnDisabled) {
  color: var(--asb-white-color);
  background-color: var(--asb-danger-color);
  box-shadow: inset 0 0 0 1px var(--asb-danger-color);
}

.btnSuccess.btnOutlined {
  color: var(--asb-success-color);
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--asb-success-color);
}

.btnSuccess.btnOutlined:hover:not(.btnDisabled) {
  color: var(--asb-white-color);
  background-color: var(--asb-success-color);
  box-shadow: inset 0 0 0 1px var(--asb-success-color);
}

.btnWarning.btnOutlined {
  color: var(--asb-warning-color);
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--asb-warning-color);
}

.btnWarning.btnOutlined:hover:not(.btnDisabled) {
  color: var(--asb-gray-dark-color);
  background-color: var(--asb-warning-color);
  box-shadow: inset 0 0 0 1px var(--asb-warning-color);
}

.btnInfo.btnOutlined {
  color: var(--asb-info-color);
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--asb-info-color);
}

.btnInfo.btnOutlined:hover:not(.btnDisabled) {
  color: var(--asb-white-color);
  background-color: var(--asb-info-color);
  box-shadow: inset 0 0 0 1px var(--asb-info-color);
}

.btnPrimary.btnOutlined .spinner div {
  border-color: var(--asb-primary-color) transparent transparent transparent;
}
.btnPrimary.btnOutlined:hover .spinner div {
  border-color: var(--asb-white-color) transparent transparent transparent;
}
.btnDanger.btnOutlined .spinner div {
  border-color: var(--asb-danger-color) transparent transparent transparent;
}
.btnDanger.btnOutlined:hover .spinner div {
  border-color: var(--asb-white-color) transparent transparent transparent;
}
.btnSuccess.btnOutlined .spinner div {
  border-color: var(--asb-success-color) transparent transparent transparent;
}
.btnSuccess.btnOutlined:hover .spinner div {
  border-color: var(--asb-white-color) transparent transparent transparent;
}
.btnWarning.btnOutlined .spinner div {
  border-color: var(--asb-warning-color) transparent transparent transparent;
}
.btnWarning.btnOutlined:hover .spinner div {
  border-color: var(--asb-gray-dark-color) transparent transparent transparent;
}
.btnInfo.btnOutlined .spinner div {
  border-color: var(--asb-info-color) transparent transparent transparent;
}
.btnInfo.btnOutlined:hover .spinner div {
  border-color: var(--asb-white-color) transparent transparent transparent;
}

/* Variant Text */
.btnPrimary.btnText {
  color: var(--asb-primary-color);
  background-color: transparent;
  box-shadow: none;
}
.btnPrimary.btnText:hover:not(.btnDisabled) {
  color: var(--asb-primary-dark-color);
  background-color: transparent;
  box-shadow: none;
}
.btnDanger.btnText {
  color: var(--asb-danger-color);
  background-color: transparent;
  box-shadow: none;
}
.btnDanger.btnText:hover:not(.btnDisabled) {
  color: var(--asb-danger-dark-color);
  background-color: transparent;
  box-shadow: none;
}
.btnSuccess.btnText {
  color: var(--asb-success-color);
  background-color: transparent;
  box-shadow: none;
}
.btnSuccess.btnText:hover:not(.btnDisabled) {
  color: var(--asb-success-dark-color);
  background-color: transparent;
  box-shadow: none;
}
.btnWarning.btnText {
  color: var(--asb-warning-color);
  background-color: transparent;
  box-shadow: none;
}
.btnWarning.btnText:hover:not(.btnDisabled) {
  color: var(--asb-warning-dark-color);
  background-color: transparent;
  box-shadow: none;
}
.btnInfo.btnText {
  color: var(--asb-info-color);
  background-color: transparent;
  box-shadow: none;
}
.btnInfo.btnText:hover:not(.btnDisabled) {
  color: var(--asb-info-dark-color);
  background-color: transparent;
  box-shadow: none;
}

.btnPrimary.btnText .spinner div {
  border-color: var(--asb-primary-color) transparent transparent transparent;
}
.btnPrimary.btnText:hover .spinner div {
  border-color: var(--asb-primary-dark-color) transparent transparent transparent;
}
.btnDanger.btnText .spinner div {
  border-color: var(--asb-danger-color) transparent transparent transparent;
}
.btnDanger.btnText:hover .spinner div {
  border-color: var(--asb-danger-dark-color) transparent transparent transparent;
}
.btnSuccess.btnText .spinner div {
  border-color: var(--asb-success-color) transparent transparent transparent;
}
.btnSuccess.btnText:hover .spinner div {
  border-color: var(--asb-success-dark-color) transparent transparent transparent;
}
.btnWarning.btnText .spinner div {
  border-color: var(--asb-warning-color) transparent transparent transparent;
}
.btnWarning.btnText:hover .spinner div {
  border-color: var(--asb-warning-dark-color) transparent transparent transparent;
}
.btnInfo.btnText .spinner div {
  border-color: var(--asb-info-color) transparent transparent transparent;
}
.btnInfo.btnText:hover .spinner div {
  border-color: var(--asb-info-dark-color) transparent transparent transparent;
}

/* Size */
.btnSmall {
  padding: 5px 10px;
  font-size: 0.875rem;
  line-height: 1.5;
}
.btnMedium {
  padding: 7px 12px;
  font-size: 1rem;
  line-height: 1.5;
}
.btnLarge {
  padding: 10px 16px;
  font-size: 1.25rem;
  line-height: 1.5;
}

.startIcon,
.endIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Start Icon */
.btnSmall .startIcon {
  margin-right: 6px;
}
.btnMedium .startIcon {
  margin-right: 8px;
}
.btnLarge .startIcon {
  margin-right: 10px;
}

/* End Icon */
.btnSmall .endIcon {
  margin-left: 6px;
}
.btnMedium .endIcon {
  margin-left: 8px;
}
.btnLarge .endIcon {
  margin-left: 10px;
}

.btnBlock {
  width: 100%;
}

.btnDisabled {
  opacity: 0.5;
  cursor: default;
}
