.content {
  display: flex;
  align-items: center;
}

.visibility {
  visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--asb-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid var(--asb-white-color);
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--asb-white-color) transparent transparent transparent;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
