.wrapper {
  width: 100%;
  padding: 12px;
  background-color: var(--blb-table-white-color);
  border-radius: 12px 12px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--blb-table-border-color);
}

.innerWrapper {
  width: 100%;
  position: relative;
}

.input {
  background-color: var(--blb-table-light-color);
  border: none;
  width: 100%;
  padding: 10px;
  color: #4a4a4a;
  border-radius: 8px;
  outline: none;
  height: 40px;
  padding: 0 40px 0 40px;
}

.searchIcon,
.clearIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .searchIcon,
.wrapper .clearIcon {
  position: absolute;
  color: var(--blb-table-primary-color);
}

.searchIcon {
  display: flex;
  top: 8px;
  left: 8px;
}

.clearIcon {
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.filterButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--blb-table-primary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-shadow: inset 0 0 0 1px var(--blb-table-primary-color);
}

.filterButton:hover {
  background-color: var(--blb-table-primary-light-color);
}