.showMore {
  width: 100%;
  background-color: var(--blb-table-white-color);
  color: var(--blb-table-primary-color);
  padding: 16px;
  border-radius: 0 0 12px 12px;
  text-align: center;
  border: none;
  cursor: pointer;
}
