:root {
  --asb-primary-color: #007bff;
  --asb-primary-hover-color: #0069d9;
  --asb-primary-dark-color: #0056b3;
  --asb-success-color: #28a745;
  --asb-success-hover-color: #218838;
  --asb-success-dark-color: #1e7e34;
  --asb-info-color: #17a2b8;
  --asb-info-hover-color: #138496;
  --asb-info-dark-color: #117a8b;
  --asb-warning-color: #ffc107;
  --asb-warning-hover-color: #e0a800;
  --asb-warning-dark-color: #b28900;
  --asb-danger-color: #dc3545;
  --asb-danger-hover-color: #c82333;
  --asb-danger-dark-color: #b02a37;
  --asb-white-color: #ffffff;
  --asb-gray-dark-color: #212529;

  --asb-border-radius: 4px;
}