:root {
  --blb-table-primary-color: #0141ff;
  --blb-table-primary-light-color: #dedeff;
  --blb-table-border-color: #e0e0e0;
  --blb-table-light-color: #f0f0ff;
  --blb-table-white-color: #ffffff;
  --blb-table-black-color: #000000;
}